<!DOCTYPE html>
<html>
  <% include ../layout/header.ejs %>
  <body>
    <div class="container">
      <% include ../layout/navigation.ejs %>

      <main role="main">
        <div class="row marketing">
          <div class="col-lg-12">
            <% iceBreakerResponses.forEach(function(iceBreakerResponse){ %>
              <h4><%= iceBreakerResponse.email %></h4>
              <p><a href="/responses/edit?secret=<%= iceBreakerResponse.secret %>"><%= iceBreakerResponse.secret %></a></p>
            <% }) %>
          </div>
        </div>
      </main>

      <% include ../layout/footer.ejs %>
    </div> <!-- /container -->
  </body>
</html>
